
.aboutSection {
  width: 100vw;
  height: calc(100vh - 40px);
  /* height: 100vh; */
  background: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aboutH1 {
  color: aliceblue;
}
