.aboutSection {
  width: 100vw;
  height: calc(100vh - 40px);
  /* height: 100vh; */
  background: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aboutH1 {
  color: aliceblue;
}
.aboutTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  margin: auto;
  width: 200px;
  height: 100px;
}
.aboutdescription {
  background-color: green;
  height: 400px;
  width: 250px;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.empty {
  width: 100px;
}
.aboutfirstsection {
  display: flex;
  justify-content: flex-start;
  width: 100vw;
  height: 70vh;
  background-color: blue;
}
.aboutsecondsection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 30vh;
  background-color: blueviolet;
}
.aboutTitle1 {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  margin: auto;
  width: 200px;
  height: 400px;
}
.aboutTitle2 {
  width: 200px;
  height: 300px;
  background-color: brown;
}
p {
  margin: auto;
  text-align: justify;
  color: aliceblue;
}
.skils {
  display: flex;
  width: 70px;
  height: 70px;
  background-color: red;
  margin: auto;
  border-radius: 50%;
}
