.homeSection {
  width: 100vw;
  height: calc(100vh - 40px);
  /* height: 100vh; */
  background: linear-gradient(45deg, #393a3a, #232526);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.homeH1 {
  font-size: 50px;
  color: FloralWhite;
}
.typeWriter {
  font-weight: bold;
  color: rgb(243, 45, 45);
}
.typeWriterP {
  margin-right: 8px;
}

.homeH2 {
  display: flex;
  /* background-color: red; */
  width: 295px;
  /* background-color: red; */
}
.empty {
  height: 40px;
  width: 100%;
  /* background: linear-gradient(45deg, #393a3a, #232526); */
  background-color: red;
}
.line {
  display: flex;
  position: absolute;
  top: 100px;
  left: 30px;
  width: 3px;
  height: 2500px;
  background-color: rgb(243, 45, 45);;
  border-radius: 1px;
}
.dot {
  display: flex;
  position: absolute;
  top: 95px;
  left: 22px;
  width: 20px;
  height: 20px;
  transform: translate(0, -50%);
  background-color: rgb(243, 45, 45);;
  border-radius: 50%;
}