.homeSection {
  width: 100vw;
  height: calc(100vh - 40px);
  /* height: 100vh; */
  background: linear-gradient(45deg, #393a3a, #232526);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.homeH1 {
  font-size: 50px;
  color: FloralWhite;
}
.typeWriter {
  font-weight: bold;
  color: rgb(243, 45, 45);
}
.typeWriterP {
  margin-right: 8px;
}

.homeH2 {
  display: flex;
  /* background-color: red; */
  width: 295px;
  /* background-color: red; */
}
.empty {
  height: 40px;
  width: 100%;
  /* background: linear-gradient(45deg, #393a3a, #232526); */
  background-color: red;
}