.contactSection {
  width: 100vw;
  height: calc(100vh - 40px);
  /* height: 100vh; */
  background: linear-gradient(45deg, #393a3a, #232526);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.contactH1 {
  font-size: 50px;
  color: FloralWhite;
}
.concode {
  color: rgb(133, 199, 233);
}
.spandawid {
  color: rgb(243, 221, 122);
}
.conreturn {
  color: violet;
}