* {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}

#navbar {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 40px;
  position: fixed;
}

.linknavbar {
  display: flex;
  color: rgb(238, 228, 228);
  text-decoration: none;
  cursor: pointer;
  padding-right: 10px;
  padding-left: 10px;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.linknavbar:hover {
  background-color: rgb(233, 134, 134);
}
.ulContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  height: 100%;
  background: linear-gradient(45deg, #393a3a, #232526);
  width: 90vw;
}
.linavbar {
  display: flex;
  height: 100%;
  width: 10%;
  padding-right: 20px;
  justify-content: center;
  align-items: center;
}
.empty {
  height: 40px;
  width: 100%;
  /* background: linear-gradient(45deg, #393a3a, #232526); */
  background-color: red;
}
.logo {
  display: flex;
  background-color: #393a3a;
  letter-spacing: 1px;
  width: 10vw;
}
.logoH2 {
  display: flex;
  color: FloralWhite;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.ulnavbar {
  display: flex;
  background-color: blue;
  width: 90vw;
}
